.warning{
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(197, 193, 193);
    font-size: 1.5rem;
    color: rgb(4, 4, 4);
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
    font-family: cursive;

    
}